body{
    font-family: Arial, Helvetica, sans-serif;
    
}

.szoveg1{
    margin-left: 40%;
    font-size: 18px;
}
.szoveg2{
    margin-left: 42%;
    font-size: 16px;
    margin-bottom: 40px;
}
.fejlec-szoveg{
    background-color: #FFACAC;
    margin-top: -10px;
    height: 70px;
    width: 100%;
    

    
}
.navbar{
    display: flex;
    gap: 90px;
    background-color: aliceblue;
    height: 50px;
    text-align: center;
    
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-left: 69%;
}
